<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.admin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="cn.bmob.permission.push" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.ActivityDetail"
            android:label="@string/title_activity_detail" />
        <activity
            android:name=".activity.PersonDetail"
            android:label="@string/title_activity_detail" />
        <activity android:name=".login.MainActivity" />
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Participant.ViewActivity" />
        <activity android:name=".login.forgetPasswordActivity" />
        <activity android:name=".login.registerActivity" />
        <activity android:name=".login.Registered" />
        <activity android:name=".promulgator.MainActivity" />
        <activity android:name=".promulgator.settingAct" />
        <activity android:name=".promulgator.headAct" />
        <activity android:name=".promulgator.Main2Activity" />
        <activity android:name=".promulgator.Main3Activity" />
        <activity android:name=".promulgator.Main4Activity" />
        <activity android:name=".promulgator.newActivity" />
        <activity android:name=".promulgator.newNotice" />
        <activity android:name=".login.applyPromulgator" />
        <activity android:name=".Participant.ComHead" />
        <activity android:name=".Participant.HistoryAct" />
        <activity android:name=".Participant.InfoEdit" />
        <activity android:name=".Participant.MainActivity" />
        <activity android:name=".Participant.MyAct" />
        <activity android:name=".Participant.ActFind" />
        <activity android:name=".Participant.no_find" />
        <activity android:name=".Participant.settingAct" />
        <activity android:name=".Participant.userInfo" />
        <!-- <activity android:name=".activitypromulgator.ViewActivity" /> -->
        <activity android:name=".Participant.ImformViewActivity" />
        <activity android:name=".promulgator.ActInfomation" />
        <!-- ///////////////////////////////////////////////////////// -->
        <activity android:name=".Participant.newMain" />
        <activity android:name=".Participant.BaseActivity" />
        <activity android:name=".promulgator.BaseActivity" />
        <activity android:name=".promulgator.newMain" />
        <activity android:name=".newLogin.loginRegisterActivity" />
        <activity android:name=".newLogin.identityActivity" />
        <activity android:name=".newLogin.loginActivity" />
        <activity android:name=".newLogin.register1_1Activity" />
        <activity android:name=".newLogin.register2_1Activity" />
        <activity android:name=".newLogin.register1_2_2Activity" />
        <activity android:name=".newLogin.register1_2_1Activity" />
        <activity android:name=".newLogin.register3_1Activity" />
        <activity android:name=".promulgator.PromulgatorActivityDetail" />
        <activity android:name=".newLogin.register4_1Activity" />
        <activity android:name=".newLogin.register5_1Activity" />
        <activity android:name=".newLogin.register1_2Activity" />
        <activity android:name=".newLogin.register2_2Activity" />
        <activity android:name=".newLogin.register3_2Activity" />
        <activity android:name=".newLogin.register2_2xActivity" />
        <activity android:name=".newLogin.register3_2xActivity" />
        <activity android:name=".newLogin.newForgetPasswordActivity"></activity>
    </application>

</manifest>